<div class="ui loading form" [ngClass]="{ 'loading': isFormLoading }">
  <div class="ui negative message" [hidden]="!finalizeAndPayErrorMsg">
	<p>{{finalizeAndPayErrorMsg}}</p>
  </div>
<div class="ui grid">
<form class="ui form twelve wide centered column" *ngIf="isSubscriptionPurchase" [ngClass]="{ 'error': !formIsValid, 'loading': formIsLoading }" [formGroup]="finalizeFormGroup">
		<div class="field">
		  <div class="ui input">
			<input type="text" placeholder="Instance Name" i18n-placeholder formControlName="instanceName" required autofocus />
		  </div>
		</div>
</form>

<h3 i18n>Billing information:</h3>
<div class="field" [ngClass]="{ 'error': (paymentFormGroup.controls.checkoutName.dirty || paymentFormGroup.controls.checkoutName.touched) && paymentFormGroup.controls.checkoutName.invalid}">
	<div class="ui input">
	<input type='text' name='card_holder_name' id="card_holder_name" formControlName="checkoutName" placeholder="Name" i18n-placeholder required minlength="4" >
	</div>
</div>
<div class="field" [ngClass]="{ 'error': (paymentFormGroup.controls.checkoutAddress.dirty || paymentFormGroup.controls.checkoutAddress.touched) && paymentFormGroup.controls.checkoutAddress.invalid}">
	<div class="ui input">
<input type='text' name='street_address' formControlName="checkoutAddress" placeholder="Street address" i18n-placeholder required minlength="4" >
</div>
</div>
<div class="field">
	<div class="ui input">
<input type='text' name='street_address2' placeholder="Street address line 2" i18n-placeholder>
	</div>
</div>
<div class="field" [ngClass]="{ 'error': (paymentFormGroup.controls.checkoutCity.dirty || paymentFormGroup.controls.checkoutCity.touched) && paymentFormGroup.controls.checkoutCity.invalid}">
	<div class="ui input">
<input type='text' name='city' formControlName="checkoutCity" placeholder="City" i18n-placeholder required minlength="3">
	</div>
</div>
<div class="field" [ngClass]="{ 'error': (paymentFormGroup.controls.checkoutState.dirty || paymentFormGroup.controls.checkoutState.touched) && paymentFormGroup.controls.checkoutState.invalid}">
	<div class="ui input">
<input type='text' name='state'  formControlName="checkoutState" placeholder="State" i18n-placeholder required minlength="2">
	</div>
</div>
<div class="field" [ngClass]="{ 'error': (paymentFormGroup.controls.checkoutPostal.dirty || paymentFormGroup.controls.checkoutPostal.touched) && paymentFormGroup.controls.checkoutPostal.invalid}">
	<div class="ui input">
<input type='text' name='zip'  formControlName="checkoutPostal" placeholder="Postal code" i18n-placeholder required minlength="4">
	</div>
</div>

<div class="ui fluid input">
	<sui-select class="selection formInputBg"
				formControlName="checkoutCountry"
				[options]="CountryCodes"
				[placeholder]="'Country'"
				i18n-placeholder
				[isSearchable]="true"
				#selectCountryCompany
				style="width:100%">
		<sui-select-option *ngFor="let option of selectCountryCompany.filteredOptions"
						   [value]="option.substring(0,option.indexOf(':'))">
		</sui-select-option>
	</sui-select>
</div>
<div class="field">
	<div class="ui input" style="display:none">
<input type='text' id = "country{{orderFormNumber}}" name='country' placeholder="Country" i18n-placeholder [(ngModel)]="checkoutCountry" [ngModelOptions]="{standalone: true}">


	</div>
</div>
<div class="field" [ngClass]="{ 'error': (paymentFormGroup.controls.checkoutPhone.dirty || paymentFormGroup.controls.checkoutPhone.touched) && paymentFormGroup.controls.checkoutPhone.invalid}">
	<div class="ui input">
<input type='number' name='phone' formControlName="checkoutPhone" placeholder="Phone number" i18n-placeholder onkeydown="javascript: return event.keyCode == 69 ? false : true">
	</div>
</div>
<h3><span i18n> Total: </span>US${{totalAll}}<ng-container *ngIf="isSubscriptionPurchase">
 <ng-container *ngIf="subscriptionType == 'monthly'" i18n> monthly </ng-container>
 <ng-container *ngIf="subscriptionType != 'monthly'" i18n> yearly </ng-container>
 </ng-container></h3>
<h3 *ngIf="purchasedInstance != null && isSubscriptionPurchase"> <span i18n> This month payment: </span>US${{totalStartUpForm}}</h3>
</form>

<button class="ui fluid primary  button" (click)="finalizeAndPay()">
	<span *ngIf="!isTrial" i18n>Go To Secure Checkout</span>
	<span *ngIf="isTrial" i18n>Submit</span>
</button>

</div>

</div>
